*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
/*ici choisir le fond de la couleur du body presentattion*/
background-color: #4a80beea;
width: auto;
height: auto;
}
    header {
        display: flex;
        justify-content: center;
        background-color:white;
        position: fixed;
        width:100%;
        border: solid #5bace3 10px;
        border-radius: 15px;

    }
        header h1 {
            text-align: center;
            align-items: center;
            
        }
            nav ul {
            display: flex;
            }
                nav ul li {
                    list-style: none;
                    margin:5em ;
                }
                    nav ul li a {
                        border: solid #5bace3 3px;
                        padding: 9px;
                        border-radius: 10px;
                        text-decoration: none;
                        color: black;
                        font-family: "titiullium";
                        font-size: 1.3em;
                    }
                        nav ul li a:hover{
                            background-color: #5bace3;
                            border: solid #343faa 3px;
                            box-shadow: rgb(190, 214, 216) 0px 0px 20px 3px
                        }
    .contenu_principal{
        padding-top: 15em;
        display: flex;
        flex-wrap: wrap;justify-content: space-around;
    }
        .photo  {
            background-image: url(/img/ThomasD.jpg);
            background-repeat: no-repeat ;
            border-radius: 50%;
            border: solid #5bace3 5px;
            width: 16vw;
            height: 32vh;
            background-size: 100%;
            margin-bottom: 5em;
            margin-left: 20em;
            box-shadow: black 10px 10px 10px;
        }
        .info {
            background-color:white;
            border: solid #5bace3 5px;
            padding: 1em;
            border-radius: 15px;
            text-align: center;
            width: 30%;
            font-size: 2em;
            margin-bottom: 2em;
            margin-right: 5em;
            box-shadow: black 10px 10px 10px;
            font-family: "titiullium";
        }
            .info ul li {
                list-style: none;

            }
        .experience {
            background-color:white;
            border: solid #5bace3 5px;
            padding: 1em;
            border-radius: 15px;
            text-align: center;
            width: 70%;
            font-size: 2em;
            margin-bottom: 2em;
            box-shadow: black 10px 10px 10px;
            font-family: "titiullium";
        }
            .experience h1 {
                font-size: 1.5em;
                padding-bottom: 0.5em;
                text-decoration: underline;
            }
                .experience ul li {
                    list-style: none;
                }
            .formation {
                background-color:white;
                border: solid #5bace3 5px;
                padding: 1em;
                border-radius: 15px;
                text-align: center;
                width: 70%;
                font-size: 2em;  
                margin-bottom: 2em;
                box-shadow: black 10px 10px 10px;
                font-family: "titiullium";
            }
                .formation h1 {
                    font-size: 1.5em;
                    padding-bottom: 0.5em;
                    text-decoration: underline;
                }
                    .formation ul li {
                        list-style: none;
                    }
            .objectif {
                background-color:white;
                border: solid #5bace3 5px;
                padding: 1em;
                border-radius: 15px;
                text-align: center;
                width: 70%;
                font-size: 2em;
                margin-bottom: 2em;
                box-shadow: black 10px 10px 10px;
                font-family: "titiullium";
            }
                .objectif h1 {
                    font-size: 1.5em;
                    padding-bottom: 0.5em;
                    text-decoration: underline;
                }
                    .objectif ul li {
                        list-style: none;
                    }
            .langue {
                background-color:white;
                border: solid #5bace3 5px;
                padding: 1em;
                border-radius: 15px;
                text-align: center;
                width: 70%;
                font-size: 2em;
                margin-bottom: 2em;
                box-shadow: black 10px 10px 10px;
                font-family: "titiullium";
            }
                .langue h1 {
                    font-size: 1.5em;
                    padding-bottom: 0.5em;
                    text-decoration: underline;
                }
                    .langue ul li {
                        list-style: none;
                    }
            .competence_informatique {
                background-color:white;
                border: solid #5bace3 5px;
                padding: 1em;
                border-radius: 15px;
                text-align: center;
                width: 70%;
                font-size: 2em;
                margin-bottom: 2em;
                box-shadow: black 10px 10px 10px;
                font-family: "titiullium";
            }
            .competence_informatique h1 {
                font-size: 1.5em;
                padding-bottom: 0.5em;
                text-decoration: underline;
            }
                .competence_informatique ul li {
                    list-style: none;
                } 
                footer {
                   padding: 4em;
                    background-color:white;
                    width:100%;
                    border: solid #5bace3 10px;
                    border-radius: 15px;
                    
                }
                .title_footer{
                    display: flex;
                    justify-content: space-around;
                }
                .contact{
                    font-size: 1.5em;
                }
                .contact h2 {
                    font-size: 1.5em;
                    padding-bottom: 0.5em;
                    text-decoration: underline;

                }
                .commentaire{
                    font-size: 1.5em;
                }
                .commentaire h2 {
                    font-size: 1.5em;
                    padding-bottom: 0.5em;
                    text-decoration: underline;

                }
                footer {
                    font-family: "titiullium";
                }
                footer p {
                    text-align: center;
                }
                .wrap {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                  }
                  
                  .button {
                    text-transform: uppercase;
                    letter-spacing: 1.3px;
                    font-weight: 700;
                    color: #313133;
                    background: #4FD1C5;
                    background: linear-gradient(90deg, #0288d1 0%, #0288d1 100%);
                    border: none;
                    border-radius: 1000px;
                    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
                    transition: all 0.3s ease-in-out 0s;
                    cursor: pointer;
                    outline: none;
                    position: relative;
                    padding: 10px;
                    }
                    .wrap :nth-child(2){
                        background: linear-gradient(90deg, #3f51b5 0%, #3f51b5 100%);
                    }
                  
                  button::before {
                    content: '';
                    border-radius: 1000px;
                    min-width: calc(100px + 12px);
                    min-height: calc(60px + 12px);
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    opacity: 0;
                    transition: all .3s ease-in-out 0s;
                  }
                  
                  .button:hover, .button:focus {
                    color: #313133;
                    transform: translateY(-6px);
                  }
                  
                  button:hover::before, button:focus::before {
                    opacity: 1;
                  }
                  
                  /* button::after {
                    content: '';
                    width: 30px; height: 30px;
                    border-radius: 100%;
                    border: 6px solid #0288d1;
                    position: absolute;
                    z-index: -1;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    animation: ring 1.5s infinite;
                  } */
                  
                  button:hover::after, button:focus::after {
                    animation: none;
                    display: none;
                  }
                  
                  @keyframes ring {
                    0% {
                      width: 30px;
                      height: 30px;
                      opacity: 1;
                    }
                    100% {
                      width: 300px;
                      height: 300px;
                      opacity: 0;
                    }
                  }
                  @font-face {
                    font-family: "titiullium";
                    src:url("../font/TitilliumWeb-Regular.ttf");
                    font-weight: 100;
                    font-style: normal;
                }