*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
/*ici choisir le fond de la couleur du body presentattion*/
background-color: #4a80beea;
width: auto;
height: auto;
}
    /* ici c'est le  header */
    header {
        display: flex;
        justify-content: center;
        background-color:white;
        position: fixed;
        width:100%;
        border: solid #5bace3 10px;
        border-radius: 15px;
        box-shadow:black 0px 0px 10px 0px ;
        font-size: 0.8em;
    }
            /* ici c'est la barre de navigation */
            nav ul {
            display: flex;
            }
                nav ul li {
                    list-style: none;
                    margin:5em ;
                }
                    nav ul li a {
                        border: solid #5bace3 3px;
                        padding: 9px;
                        border-radius: 10px;
                        text-decoration: none;
                        color: black;
                        font-family: "titiullium";
                        font-size: 1.3em;
                    }
                        nav ul li a:hover{
                            background-color: #5bace3;
                            border: solid #343faa 3px;
                            box-shadow: rgb(128, 216, 224) 0px 0px 20px 3px
                        }
                        /*-------boutton retour haut de page-------*/
                        a#cRetour{
                            border-radius:3px;
                            padding:10px;
                            font-size:15px;
                            text-align:center;
                            color:#fff;
                            background:rgba(0, 0, 0, 0.25);
                            position:fixed;
                            right:20px;
                            opacity:1;
                            z-index:99999;
                            transition:all ease-in 0.2s;
                            backface-visibility: hidden;
                            -webkit-backface-visibility: hidden;
                            text-decoration: none;
                         }
                            a#cRetour:before{ content: "\25b2"; }
                            a#cRetour:hover{
                                background:rgba(0, 0, 0, 1);
                                transition:all ease-in 0.3s;
                         }
                         a#cRetour.cInvisible{
                            bottom:-35px;
                            opacity:0;
                            transition:all ease-in .7s;
                         }
                       
                         a#cRetour.cVisible{
                            bottom:20px;
                            opacity:1;
                         }   
    /* ici c'est le contenu principal  */
    .contenu_principal{
        padding-top: 15em;
        display: flex;
        flex-wrap: wrap;justify-content: space-around;
    }
        /* photo */
        .photo  {
            background-image: url(/img/ThomasD.jpg);
            background-repeat: no-repeat ;
            border-radius: 50%;
            border: solid #5bace3 5px;
            width: 16vw;
            height: 32vh;
            background-size: 100%;
            margin-bottom: 5em;
            margin-left: 20em;
            box-shadow: black 10px 10px 10px;
        }
        /* information personnel */
        .info {
            background-color:white;
            border: solid #5bace3 5px;
            padding: 1em;
            border-radius: 15px;
            text-align: center;
            width: 30%;
            font-size: 2em;
            margin-bottom: 2em;
            margin-right: 5em;
            box-shadow: black 10px 10px 10px;
            font-family: "titiullium";
        }
            .info ul li {
                list-style: none;

            }
            .infi h1 {
                font-family: 'Bungee', cursive;
            }
        /* expérience */
        #experience {
            background-color:white;
            border: solid #5bace3 5px;
            padding: 1em;
            border-radius: 15px;
            text-align: center;
            width: 70%;
            font-size: 2em;
            margin-bottom: 2em;
            box-shadow: black 10px 10px 10px;
            font-family: "titiullium";
        }
            #experience h1 {
                font-size: 1.5em;
                padding-bottom: 0.5em;
                text-decoration: underline;
                font-family: 'Bungee', cursive;
            }
                #experience ul li {
                    list-style: none;
                }
        /* Mes diplome et mes formation */
        #formation {
            background-color:white;
            border: solid #5bace3 5px;
            padding: 1em;
            border-radius: 15px;
            text-align: center;
            width: 70%;
            font-size: 2em;  
            margin-bottom: 2em;
            box-shadow: black 10px 10px 10px;
            font-family: "titiullium";
        }
            #formation h1 {
                font-size: 1.5em;
                padding-bottom: 0.5em;
                text-decoration: underline;
                font-family: 'Bungee', cursive;
            }
                #formation ul li {
                    list-style: none;
                }
        /* Mes objectif  */
        #objectif {
            background-color:white;
            border: solid #5bace3 5px;
            padding: 1em;
            border-radius: 15px;
            text-align: center;
            width: 70%;
            font-size: 2em;
            margin-bottom: 2em;
            box-shadow: black 10px 10px 10px;
            font-family: "titiullium";
        }
            #objectif h1 {
                font-size: 1.5em;
                padding-bottom: 0.5em;
                text-decoration: underline;
                font-family: 'Bungee', cursive;
            }
                #objectif ul li {
                    list-style: none;
                }
        /* Language */
        #langue {
            background-color:white;
            border: solid #5bace3 5px;
            padding: 1em;
            border-radius: 15px;
            text-align: center;
            width: 70%;
            font-size: 2em;
            margin-bottom: 2em;
            box-shadow: black 10px 10px 10px;
            font-family: "titiullium";
        }
            #langue h1 {
                font-size: 1.5em;
                padding-bottom: 0.5em;
                text-decoration: underline;
                font-family: 'Bungee', cursive;
            }
                #langue ul li {
                    list-style: none;
                }
        /* mes compétence informatique */
        #competence_informatique {
            background-color:white;
            border: solid #5bace3 5px;
            padding: 1em;
            border-radius: 15px;
            text-align: center;
            width: 70%;
            font-size: 2em;
            margin-bottom: 2em;
            box-shadow: black 10px 10px 10px;
            font-family: "titiullium";
        }
            #competence_informatique h1 {
                font-size: 1.5em;
                padding-bottom: 0.5em;
                text-decoration: underline;
                font-family: 'Bungee', cursive;
            }
                #competence_informatique ul li {
                    list-style: none;
                } 
        /* footer */
        footer {
            padding: 4em;
            background-color:white;
             width:100%;
            border: solid #5bace3 10px;
            border-radius: 15px;
            font-family: "titiullium";   
        }
            .title_footer{
                display: flex;
                justify-content: space-around;
             }
                /* contact et réseseau sociaux */
                .contact{
                    font-size: 1.5em;
                }
                .contact h2 {
                    font-size: 1.5em;
                    padding-bottom: 0.5em;
                    text-decoration: underline;
                    font-family: 'Bungee', cursive;

                }
                /* Commentaire */
                .commentaire{
                    font-size: 1.5em;
                }
                .commentaire h2 {
                    font-size: 1.5em;
                    padding-bottom: 0.5em;
                    text-decoration: underline;
                    font-family: 'Bungee', cursive;
                    
                }
                #text_script {
                    border: solid 3px #5bace3;
                    padding: 1em;
                }
                    #form {
                        padding: 5em;
                        margin-top: 1em;
                    }
                footer p {
                    text-align: center;
                }
                  
                  @keyframes ring {
                    0% {
                      width: 30px;
                      height: 30px;
                      opacity: 1;
                    }
                    100% {
                      width: 300px;
                      height: 300px;
                      opacity: 0;
                    }
                  }
                  /* font face */
                  @font-face {
                    font-family: "titiullium";
                    src:url("../font/TitilliumWeb-Regular.ttf");
                    font-weight: 100;
                    font-style: normal;
                }
                /* responsive grand laptop */
                @media only screen and (min-width:993px) and (max-width: 1200px){
                    header {
                        flex-wrap: wrap;
                        font-size: 0.5em;

                    }
                    .contenu_principal{
                        padding-top: 25em;
                    }
                    .photo {
                        width: 16vw;
                        height: 22vh;  
                        background-size: 100%;
                    }
                    
                    .info{
                        font-size: 1.4em;  
                        height: auto;
                        width: auto;
                    }
                    
                }
                /* responsive laptop */
                @media only screen and (min-width:768px) and (max-width: 992px){
                    header {
                        flex-wrap: wrap;
                        font-size: 0.5em;
                    }
                    .contenu_principal{
                        padding-top: 25em;
                    }
                        .photo {
                            display: none;
                        }
                        .info {
                            font-size: 1.4em; 
                            height: auto;
                            width: auto;
                            margin: 1em;
                        }
                }
                /* responsive tablette */
                @media only screen and (min-width:576px) and (max-width: 767.98px){
                    body {
                        font-size: 0.5em;
                    }
                    header {
                        flex-wrap: wrap;
                        font-size: 0.5em;
                        position: unset;
                    } 
                    nav {
                        display: none;
                    }
                    .photo {
                        display: none;
                    }
                    .info {
                        width: 70%;
                        margin-left: 4em;
                    }
                }
                /* responsive telephone */
                @media only screen and (min-width: 375px) and (max-width:575px){
                    body {
                        font-size: 0.5em;
                    }
                    header {
                        flex-wrap: wrap;
                        font-size: 0.5em;
                        position: unset;
                    } 
                    nav {
                        display: none;
                    }
                    .photo {
                        display: none;
                    }
                    .info {
                        width: 70%;
                        margin-left: 4em;
                    }
                    .commentaire {
                        display: none;
                    }
                    .wrap {
                        width: 10em;
                        height: 10em;
                    }
                    .contact p {
                        margin-top: 20em;
                    }
                }